<div class="clearfix">
  <h1 class="pull-left">My Cookbooks</h1>
</div>
<ul class="cookbooks">
  <% @cookbooks.each do |cookbook| %>
    <%= render "shared/cookbook", :cookbook=> cookbook %>
  <% end %>
  <li class="row-fluid">
    <div class="btn btn-primary btn-large add_new pull-right">
      <span class="fui-plus-16"></span>
      <%= link_to 'New Cookbook', new_cookbook_path %>
    </div>
  </li>
</ul>

